/*.property-images img {
    max-height: 200px;
    object-fit: cover;
}
.rules-list li {
    margin-bottom: 0.5rem;
}
.review {
    margin-bottom: 1.5rem;
}*/

.property-images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: ;
        }
        .property-images img {
            height: 150px;
            object-fit: cover;
            width: 100%;
            border-radius: 0.5rem;
            margin: 0.5rem;
        }
        .rules-list li {
            margin-bottom: 0.5rem;
        }
        .review {
            margin-bottom: 1.5rem;
        }