.card img {
    border-radius: 15px;
    width: 100%;
    height: 170px;
    object-fit: cover;
    cursor: pointer;
}

.card {
    border: none;
}

.card-body {
    padding: 0;
    text-align: center;
}

.plus {
    background-color: #E61D57;
}

.card p {
    margin: 0;
    color: grey;
}

.card p:first-of-type {
    color: black;
}

/* Layout per diverse risoluzioni */
@media (max-width: 728px) {
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    main {
        margin-bottom: 4vh;
    }
}

@media (min-width: 729px) and (max-width: 1028px) {
    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 1029px) {
    .col-lg-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    main {
        margin-top: 8vh;
        margin-bottom: 4vh;
    }
}