
        .img-fluid {
            border-radius: 0.5rem; 
        }
        .rules-list li {
            margin-bottom: 0.5rem;
        }
        .review {
            margin-bottom: 1.5rem;
        }
 .img-big{
    height: 597px;
    width: 550px;
    object-fit: cover;
 }

 .img-small{
    object-fit: cover;
    height: 292px;
    width: 250px;
 }
 .check-box{
    height: 100px;
    width: 350px;
 }